<div class='row' id='data'></div>


<script>
  var main = function() {
    var items = <%= @data %>
    Object.keys(items).forEach(function(key) {
      $('#data').append(
        cellContent(items[key].name, items[key].newest)
      )
    })
  }

  function cellContent(id, data) {
    fixedDate = moment(data, 'YYYY-MM-DD').format('dddd Do MMMM')
    id = id.replace('.csv', '')
    subject = id.replace('-', ' ')
    content = '<p>Last ' + subject + ' was on</p><h2>' + fixedDate + '</h2>'
    return "<div class='col-md-4' id='#" + id + "'>" + content + "</div>"
  }

  $(document).ready(main);
</script>
