<div class='row' id='data'></div>

<script>
  $.getJSON(document.URL, function(json) {
    Object.keys(json).forEach(function(key) {
      var j = json[key]
      if (j['type'] === 'latest') {
        $('#data').append(
          cellContent(j)
        )
      }
    })
  })

  function cellContent(json) {
    fixedDate = moment(json['Date'], 'YYYY-MM-DD').format('dddd Do MMMM')
    content = '<p>Last ' + json['title'] + ' was on</p><h2>' + fixedDate + '</h2>'
    return "<div class='col-md-4' id='#" + json['id'] + "'>" + content + "</div>"
  }
</script>
