<div class='row' id='catface-data'></div>

<script>
  var main = function() {
    var items = {
      'flea-treatment': 'pikesley/catface/master/flea-treatment.csv',
      'worm-treatment': 'pikesley/catface/master/worm-treatment.csv'
    }

    Object.keys(items).forEach(function(key) {
      getCSV(items[key], key)
    })
  }

  $(document).ready(main);
</script>
