<div class='row' id='catface-data'></div>

<script>
  function cellContent(id, data) {
    fixedDate = moment(data, 'YYYY-MM-DD').format('dddd Do MMMM')
    subject = id.replace('-', ' ')

    content = '<p>Last ' + subject + ' was on</p><h2>' + fixedDate + '</h2>'

    return "<div class='col-md-4' id='#" + id + "'>" + content + "</div>"
  }

  var main = function() {
    var items = {
      'flea-treatment': 'pikesley/catface/master/flea-treatment.csv',
      'worm-treatment': 'pikesley/catface/master/worm-treatment.csv'
    }

    Object.keys(items).forEach(function(key) {
      getCSV(items[key], key)
    })
  }

  $(document).ready(main);
</script>
