<div class='row' id='data'></div>

<script>
  $.getJSON(document.URL, function(json) {
    if (json['type'] === 'latest') {
      $('#data').append(
        latestCell(json)
      )
    }
    else if (json['type'] === 'graph') {
      graph(json)
    }
  })
</script>
