<h1><%= @title %> dashboard</h1>
<hr />

<div class='row' id='numbers'></div>

<div class='row' id='charts'></div>

<script>
  $.getJSON(document.URL, function(json) {
    Object.keys(json).forEach(function(key) {
      var j = json[key]
      if (j['type'] === 'latest') {
        $('#numbers').append(
          latestCell(j)
        )
      } else if (j['type'] === 'graph') {
        graph(j)
      }
    })
  })

  function graph(json) {
    ecks = Object.keys(json['data'][0])[0]
    why = Object.keys(json['data'][0])[1]
    var points = [
      {
        x: json['data'].map(function(item){ return item[ecks] }),
        y: json['data'].map(function(item){ return item[why] }),
        type: 'scatter'
      }
    ]

    var layout = {
      title: json['title'] + ' (' + githubLink(json) + ')',
      xaxis: {
        tickformat: "%b %Y",
        tickangle: 90
      },
      yaxis: {
        title: why,
        titlefont: {
          size: 14,
          color: '#7f7f7f'
        }
      },
      margin: {
       l: 50, r: 10
      }
    }

    $('#charts').append("<div id='" + json['id'] + "' class='col-md-6' style='height: 400px'></div>")
    Plotly.newPlot(json['id'], points, layout)
  }

  function latestCell(json) {
    d = json['data'][json['data'].length -1][json['date-field']]
    fixedDate = moment(d, 'YYYY-MM-DD').format('Do MMMM')
    age = moment(d, 'YYYY-MM-DD').fromNow()
    content = '<h1><small>Last</small> '
    content += json['title'] + ':</h1>'
    if(json['special_fields']) {
      content += '<h4>'

      json['special_fields'].forEach(function(field) {
        content += json['data'][json['data'].length -1][field]
        content += ' '
      })

      content += '</h4>'
    }
    content += '<h2>' + fixedDate + '</h2>'
    content += '<h3>(' + age + ')</h3>'
    content += githubLink(json)
    content += '<hr />'

    return cellContent(json['id'], content)
  }

  function githubLink(json) {
    return '<a href="' + json['url'] + '">Source</a>'
  }

  function cellContent(id, content) {
    return "<div class='col-md-4' id='#" + id + "'>" + content + "</div>"
  }
</script>
