<div class='row' id='numbers'></div>

<div class='row' id='charts'></div>

<script>
  $.getJSON(document.URL, function(json) {
    Object.keys(json).forEach(function(key) {
      var j = json[key]
      if (j['type'] === 'latest') {
        $('#numbers').append(
          latestCell(j)
        )
      } else if (j['type'] === 'graph') {
        debugger
        ecks = Object.keys(j['data'][0])[0]
        why = Object.keys(j['data'][0])[1]
        var points = [
          {
            x: j['data'].map(function(item){ return item[ecks] }),
            y: j['data'].map(function(item){ return item[why] }),
            type: 'scatter'
          }
        ]

        var layout = {
          title: j['title'],
          yaxis: {
            title: why,
            titlefont: {
              size: 14,
              color: '#7f7f7f'
            }
          }
        }

        $('#charts').append("<div id='" + j['id'] + "' class='col-md-6' style='height: 400px'></div>")
        Plotly.newPlot(j['id'], points, layout)
      }
    })
  })

  function latestCell(json) {
    fixedDate = moment(json['data'][json['data'].length -1][json['date-field']], 'YYYY-MM-DD').format('dddd Do MMMM')
    content = '<p>Last ' + json['title'] + ' was on</p><h2>' + fixedDate + ' (n days / weeks / months ago)</h2>'
    return cellContent(json['id'], content)
  }

  function cellContent(id, content) {
    return "<div class='col-md-4' id='#" + id + "'>" + content + "</div>"
  }
</script>
