<%= @content %>

<ul>
  <% lookups = Dashboard::Cleaner.lookups %>
  <% lookups.keys.each do |dashboard| %>
    <li><a href='<%= lookups[dashboard]["url"] %>'><%= lookups[dashboard]['title'] %></a></li>
  <% end %>
</ul>
