---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/catface/contents/flea-treatment.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1451833465'
      Last-Modified:
      - Mon, 28 Dec 2015 16:27:33 GMT
      Etag:
      - '"a408ef05c671be4ca2e7796fbb82dd17"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"flea-treatment.csv","path":"flea-treatment.csv","sha":"9f9077ece2431879f7b865ded46ce9796fc17dac","size":16,"url":"https://api.github.com/repos/pikesley/catface/contents/flea-treatment.csv?ref=master","html_url":"https://github.com/pikesley/catface/blob/master/flea-treatment.csv","git_url":"https://api.github.com/repos/pikesley/catface/git/blobs/9f9077ece2431879f7b865ded46ce9796fc17dac","download_url":"https://raw.githubusercontent.com/pikesley/catface/master/flea-treatment.csv","type":"file","content":"RGF0ZQoyMDE1LTEyLTAzCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pikesley/catface/contents/flea-treatment.csv?ref=master","git":"https://api.github.com/repos/pikesley/catface/git/blobs/9f9077ece2431879f7b865ded46ce9796fc17dac","html":"https://github.com/pikesley/catface/blob/master/flea-treatment.csv"}}'
  recorded_at: Sun, 03 Jan 2016 14:04:25 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/catface/master/flea-treatment.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9f9077ece2431879f7b865ded46ce9796fc17dac"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 5963432931122acf0c74f12428c7120bee69b89b
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date
        2015-12-03
  recorded_at: Sun, 03 Jan 2016 14:04:25 GMT
recorded_with: VCR 3.0.1
