---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/length.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1451400618'
      Last-Modified:
      - Mon, 28 Dec 2015 16:45:21 GMT
      Etag:
      - '"fe5e67566d60252dcce1fc2df6f5d7a1"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"length.csv","path":"length.csv","sha":"8d81d82abac88d3ef7ce74de0199a985af3df0d9","size":129,"url":"https://api.github.com/repos/pikesley/snake-data/contents/length.csv?ref=master","html_url":"https://github.com/pikesley/snake-data/blob/master/length.csv","git_url":"https://api.github.com/repos/pikesley/snake-data/git/blobs/8d81d82abac88d3ef7ce74de0199a985af3df0d9","download_url":"https://raw.githubusercontent.com/pikesley/snake-data/master/length.csv","type":"file","content":"RGF0ZSxMZW5ndGggaW4gbQoyMDE0LTA5LTMwLDAuNDUKMjAxNC0xMC0wOSww\nLjUwCjIwMTQtMTAtMTgsMC41MAoyMDE0LTEyLTEyLDAuNTUKMjAxNS0wMS0x\nMSwwLjYwCjIwMTUtMDEtMjgsMC42NQoyMDE1LTA4LTI3LDAuOTUK\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pikesley/snake-data/contents/length.csv?ref=master","git":"https://api.github.com/repos/pikesley/snake-data/git/blobs/8d81d82abac88d3ef7ce74de0199a985af3df0d9","html":"https://github.com/pikesley/snake-data/blob/master/length.csv"}}'
  recorded_at: Tue, 29 Dec 2015 13:52:48 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/length.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8d81d82abac88d3ef7ce74de0199a985af3df0d9"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 5eebdcf739ccb5ce098fbf9e3bde51691144a97b
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date,Length in m
        2014-09-30,0.45
        2014-10-09,0.50
        2014-10-18,0.50
        2014-12-12,0.55
        2015-01-11,0.60
        2015-01-28,0.65
        2015-08-27,0.95
  recorded_at: Tue, 29 Dec 2015 13:52:49 GMT
recorded_with: VCR 3.0.1
