---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/catface/contents/worm-treatment.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1451396206'
      Last-Modified:
      - Mon, 28 Dec 2015 16:27:33 GMT
      Etag:
      - '"a4edaf488d19b7fd821d266bcd32ef77"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"worm-treatment.csv","path":"worm-treatment.csv","sha":"d230ca31f494a00dd2efbdf8f64273f991c388a6","size":16,"url":"https://api.github.com/repos/pikesley/catface/contents/worm-treatment.csv?ref=master","html_url":"https://github.com/pikesley/catface/blob/master/worm-treatment.csv","git_url":"https://api.github.com/repos/pikesley/catface/git/blobs/d230ca31f494a00dd2efbdf8f64273f991c388a6","download_url":"https://raw.githubusercontent.com/pikesley/catface/master/worm-treatment.csv","type":"file","content":"RGF0ZQoyMDE1LTEyLTA3Cg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/pikesley/catface/contents/worm-treatment.csv?ref=master","git":"https://api.github.com/repos/pikesley/catface/git/blobs/d230ca31f494a00dd2efbdf8f64273f991c388a6","html":"https://github.com/pikesley/catface/blob/master/worm-treatment.csv"}}'
  recorded_at: Tue, 29 Dec 2015 13:03:44 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/catface/master/worm-treatment.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d230ca31f494a00dd2efbdf8f64273f991c388a6"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 793b2a25a51e76d1fd741a126f64cabdbca624a3
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date
        2015-12-07
  recorded_at: Tue, 29 Dec 2015 13:03:45 GMT
recorded_with: VCR 3.0.1
