---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/catface/contents?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1451396206'
      Last-Modified:
      - Mon, 07 Dec 2015 20:18:56 GMT
      Etag:
      - '"5c82a0c70452336f349748d163ff1b33"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"README.md","path":"README.md","sha":"ff38f156aa98280e31e0707ac9d52bb6fc5087f3","size":86,"url":"https://api.github.com/repos/pikesley/catface/contents/README.md?ref=master","html_url":"https://github.com/pikesley/catface/blob/master/README.md","git_url":"https://api.github.com/repos/pikesley/catface/git/blobs/ff38f156aa98280e31e0707ac9d52bb6fc5087f3","download_url":"https://raw.githubusercontent.com/pikesley/catface/master/README.md","type":"file","_links":{"self":"https://api.github.com/repos/pikesley/catface/contents/README.md?ref=master","git":"https://api.github.com/repos/pikesley/catface/git/blobs/ff38f156aa98280e31e0707ac9d52bb6fc5087f3","html":"https://github.com/pikesley/catface/blob/master/README.md"}},{"name":"flea-treatment.csv","path":"flea-treatment.csv","sha":"9f9077ece2431879f7b865ded46ce9796fc17dac","size":16,"url":"https://api.github.com/repos/pikesley/catface/contents/flea-treatment.csv?ref=master","html_url":"https://github.com/pikesley/catface/blob/master/flea-treatment.csv","git_url":"https://api.github.com/repos/pikesley/catface/git/blobs/9f9077ece2431879f7b865ded46ce9796fc17dac","download_url":"https://raw.githubuserco[...]
