---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1451396206'
      Last-Modified:
      - Thu, 23 Jul 2015 18:42:48 GMT
      Etag:
      - '"5b1d77c0dd848802c5dbf95b22ad4283"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"name":"README.md","path":"README.md","sha":"56fa2a57da9f365c2260e3479938f59774535aa9","size":379,"url":"https://api.github.com/repos/pikesley/snake-data/contents/README.md?ref=master","html_url":"https://github.com/pikesley/snake-data/blob/master/README.md","git_url":"https://api.github.com/repos/pikesley/snake-data/git/blobs/56fa2a57da9f365c2260e3479938f59774535aa9","download_url":"https://raw.githubusercontent.com/pikesley/snake-data/master/README.md","type":"file","_links":{"self":"https://api.github.com/repos/pikesley/snake-data/contents/README.md?ref=master","git":"https://api.github.com/repos/pikesley/snake-data/git/blobs/56fa2a57da9f365c2260e3479938f59774535aa9","html":"https://github.com/pikesley/snake-data/blob/master/README.md"}},{"name":"feeds.csv","path":"feeds.csv","sha":"22faa82d87ed66d62483dfd9ec8db3e43875b77e","size":1379,"url":"https://api.github.com/repos/pikesley/snake-data/contents/feeds.csv?ref=master","html_url":"https://github.com/pikesley/snake-data/blob/master/feeds.csv","git_url":"https://api.github.com/repos/pikesley/snake-data/git/blobs/22faa82d87ed66d62483dfd9ec8db3e43875b77e","download_url":"https://raw.githubusercontent.com/pikesley/sna[...]
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/feeds.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
      X-Ratelimit-Reset:
      - '1451396206'
      Last-Modified:
      - Mon, 28 Dec 2015 16:45:21 GMT
      Etag:
      - '"87db99e13db3e24bd40be0bd0fc66dcc"'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"name":"feeds.csv","path":"feeds.csv","sha":"22faa82d87ed66d62483dfd9ec8db3e43875b77e","size":1379,"url":"https://api.github.com/repos/pikesley/snake-data/contents/feeds.csv?ref=master","html_url":"https://github.com/pikesley/snake-data/blob/master/feeds.csv","git_url":"https://api.github.com/repos/pikesley/snake-data/git/blobs/22faa82d87ed66d62483dfd9ec8db3e43875b77e","download_url":"https://raw.githubusercontent.com/pikesley/snake-data/master/feeds.csv","type":"file","content":"RGF0ZSxGb29kLE9mZmVyZWQsRWF0ZW4KMjAxNC0wOS0yOCxQaW5reSwxLDEK\nMjAxNC0xMC0wMixQaW5reSwyLDIKMjAxNC0xMC0wNixQaW5reSwyLDEKMjAx\nNC0xMC0xMixQaW5reSwyLDAKMjAxNC0xMC0xOSxQaW5reSwyLDIKMjAxNC0x\nMC0yNixQaW5reSwzLDMKMjAxNC0xMS0wMixGdXp6eSwxLDEKMjAxNC0xMS0w\nOSxGdXp6eSwxLDEKMjAxNC0xMS0xNixGdXp6eSwxLDEKMjAxNC0xMS0yMyxG\ndXp6eSwxLDEKMjAxNC0xMi0wNyxGdXp6eSwxLDEKMjAxNC0xMi0xNCxGdXp6\neSwxLDEKMjAxNS0wMS0wMSxGdXp6eSwxLDEKMjAxNS0wMS0xMSxGdXp6eSwx\nLDEKMjAxNS0wMS0xOCxGdXp6eSwyLDIKMjAxNS0wMS0yNSxGdXp6eSwxLDEK\nMjA[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/feeds.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"22faa82d87ed66d62483dfd9ec8db3e43875b77e"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - da2fb12a86b739cbd2817853e62b4449a29e14f3
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date,Food,Offered,Eaten
        2014-09-28,Pinky,1,1
        2014-10-02,Pinky,2,2
        2014-10-06,Pinky,2,1
        2014-10-12,Pinky,2,0
        2014-10-19,Pinky,2,2
        2014-10-26,Pinky,3,3
        2014-11-02,Fuzzy,1,1
        2014-11-09,Fuzzy,1,1
        2014-11-16,Fuzzy,1,1
        2014-11-23,Fuzzy,1,1
        2014-12-07,Fuzzy,1,1
        2014-12-14,Fuzzy,1,1
        2015-01-01,Fuzzy,1,1
        2015-01-11,Fuzzy,1,1
 [...]
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/length.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-R[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/length.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8d81d82abac88d3ef7ce74de0199a985af3df0d9"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 472b319d8387c08d4ec9eb6bac7061660deabca7
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date,Length in m
        2014-09-30,0.45
        2014-10-09,0.50
        2014-10-18,0.50
        2014-12-12,0.55
        2015-01-11,0.60
        2015-01-28,0.65
        2015-08-27,0.95
  recorded_at: Tue, 29 Dec 2015 13:27:12 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/sheds.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ra[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/sheds.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ee119ef5c5591ab85412cdfa1edf64b9aadfdbd0"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - bcdef8e85521ee19d56e365379926b294b1ceb26
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Serial,Blue phase observed,Shed completed
        1,2014-10-13,2014-10-17
        2,2014-11-16,2014-11-22
        3,2014-12-23,2014-12-31
        4,2015-01-31,2015-02-05
        5,2015-03-01,2015-03-06
        6,2015-04-07,2015-04-12
        7,2015-05-02,2015-05-07
        8,,2015-06-05
        9,2015-07-08,2015-07-12
        10,2015-08-12,2015-08-15
        11,2015-09-12,2015-09-19
        12,2015-11-01,2015-11-10
        13,2015-12-13,2015-12-23
  recorded_at: Tue, 29 Dec 2015 13:27:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/vivarium-cleans.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/vivarium-cleans.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c642e1cbab366182c683827266bacb18cfbb283b"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - ebaf4a680a42508d3a28362504a245660ce28895
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Serial,Date
        1,2014-10-25
        2,2014-11-23
        3,2014-12-21
        4,2015-01-18
        5,2015-02-14
        6,2015-03-21
        7,2015-04-18
        8,2015-05-24
        9,2015-06-17
        10,2015-07-18
        11,2015-08-15
        12,2015-09-12
        13,2015-10-18
        14,2015-11-21
  recorded_at: Tue, 29 Dec 2015 13:27:13 GMT
- request:
    method: get
    uri: https://api.github.com/repos/pikesley/snake-data/contents/weight.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>&ref=master
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-R[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/weight.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e86c9b593025ca38a51aab3b93596cef9c4cdd37"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - f1d87e101a47d9a62e2fe97e19c7ad6f3ebdb39d
      Source-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |
        Date,Mass in g
        2014-10-23,18.3
        2014-10-31,19
        2014-11-05,22
        2014-11-11,22.8
        2014-12-02,24
        2014-12-09,28.5
        2014-12-16,28
        2014-12-23,34.2
        2015-01-04,32.3
        2015-01-13,35.3
        2015-01-20,40.4
        2015-01-28,36.4
        2015-02-08,33.7
        2015-02-11,41.3
        2015-02-18,43.2
        2015-02-25,49.2
        2015-03-10,54.7
        2015-03-12,50.6
        2015-03-19,53.3
        2015-03-24,63.3
        2015-04-02,65.6
        2015-04-16,84
        2015-04-23,85.1
        2015-05-14,103.3
        2015-05-17,97.8
        2015-05-26,118.7
        2015-06-10,136.7
        2015-07-01,154
        2015-07-14,176.8
        2015-08-19,205.0
  recorded_at: Tue, 29 Dec 2015 13:27:14 GMT
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/pikesley/snake-data/master/weight.csv?client_id=<GITHUB_CLIENT_ID>&client_secret=<GITHUB_CLIENT_SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e86c9b593025ca38a51aab3b93596cef9c4cdd37"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 0ec8c7e54c79d52c473ce4823fe5d85329e48598
      Source-Age:
      - '4'
    body:
      encoding: UTF-8
      string: |
        Date,Mass in g
        2014-10-23,18.3
        2014-10-31,19
        2014-11-05,22
        2014-11-11,22.8
        2014-12-02,24
        2014-12-09,28.5
        2014-12-16,28
        2014-12-23,34.2
        2015-01-04,32.3
        2015-01-13,35.3
        2015-01-20,40.4
        2015-01-28,36.4
        2015-02-08,33.7
        2015-02-11,41.3
        2015-02-18,43.2
        2015-02-25,49.2
        2015-03-10,54.7
        2015-03-12,50.6
        2015-03-19,53.3
        2015-03-24,63.3
        2015-04-02,65.6
        2015-04-16,84
        2015-04-23,85.1
        2015-05-14,103.3
        2015-05-17,97.8
        2015-05-26,118.7
        2015-06-10,136.7
        2015-07-01,154
        2015-07-14,176.8
        2015-08-19,205.0
  recorded_at: Tue, 29 Dec 2015 13:27:27 GMT
recorded_with: VCR 3.0.1
